$shadow_blue:#0448f540;
$sparkle:#ee193f;
$brilliant:#1994ee;
$glitter:#9ee032;
$flash:#eecc19;
$gray: #404040;
$light_gray:#e1e1e1;
$all:linear-gradient(45deg, #ff8fa4 11.98%, #feffb7 37.5%, #bdffb7 63.54%, #aaf8ff 89.58%);

$modal_blue: #05034f;